*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: 'Arial', Times, serif;
    color: white;
}

.img-construcao{
    width: 500px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

h1{
    font-weight: bold;
    text-align: center;

    padding-top: 30px;
}

.botao{
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
    font-size: 18px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    padding: 15px 35px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: grey;
    color: white;
}