:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header .container .img-icon {
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

header .container .second-nav {
    position: absolute;
    right: 30px;
    display: table;

}

header .container .second-nav div {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

header .container .second-nav img {
    display: table-cell;
    vertical-align: middle;
    margin: 10px;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
}

header .logo .img-logo {
    width: 100px;
    height: 50px;
    padding-top: 10px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-left: 30px;
}

header nav label {
    margin-left: 200px;
}

header nav a:hover {
    color: #fff;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa.jpg');

    height: 950px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.vignette-layer {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0, rgba(20, 20, 20, .15) 15%, rgba(20, 20, 20, .35) 29%, rgba(20, 20, 20, .58) 44%, #141414 68%, #141414 100%);
    width: 100%;
    height: 14.7vw;
    bottom: -15px;
    position: relative;
    left: 0;
    right: 0;
}

.filme-principal .titulo {
    margin-top: 5%;
}

.filme-principal .titulo .img-titulo {
    width: 400px;
    height: 350px;
}

.filme-principal .container .top-posicao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.filme-principal .container .top-posicao .top-10-badge {
    width: 40px;
    height: 40px;
}

.filme-principal .container .top-posicao h3 {
    margin-left: 10px;
    font-size: 25px;
}


.filme-principal .descricao {
    margin-top: 15px;
    margin-bottom: 30px;

    font-size: 25px;
}

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 18px;

    padding: 15px 35px;
    margin-right: 15px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 10px;
}


.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}


.carrosel-filmes {
    margin-top: -220px;
    margin-left: 15px;
}

.carrosel-filmes .titulo-carrosel {
    padding: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: #D6D6D6;
}

.carrosel-filmes .titulo-carrosel .emAlta{
    color: white;
}

.item {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;

}

.item img {
    border-radius: 5px;
    display: block;
}

.box-filme2 {
    height: 200px;
    width: auto;
    display: block;
    cursor: pointer;

    border-radius: 3px;
}

/*Arrows*/
.owl-prev, .owl-next {
    width: 40px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0 solid black;
    background-color: rgba(20,20,20,.7) !important;
    margin: 0 !important;
    opacity: 0 !important;
}
.owl-prev { left: 0 }
.owl-next { right: 0 }
.owl-prev i, .owl-next i {
    transform : scale(2,5);
    color: white;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    opacity: 1 !important;
}

/*página de infos*/
#modal * {
    z-index: 100;
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 205vh;
    background: rgba(20, 20 ,20, .7);
    margin: auto;
    display: none;
}

#modal-content {
    background: rgb(20,20,20);
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    height: fit-content;
}

.img-modal {
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/b99.jpg');
    font-size: 16px;

    width: 100%;
    height: 520px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    border-radius: 5px;
}

.img-titulo-modal{
    width: 200px;
    height: 150px;
    padding-left: 15px;
}

#modal-content .infos {
    padding-left: 15px;
    margin-top: -95px;
    z-index: 200;
    position: absolute;
    font-size: 16px;
}
#modal-content .infos .infos-esquerda {
    padding-bottom: 10px;
    width: 60%;
    float: left;

}

#modal-content .infos .infos-esquerda .subtitulo{
    font-weight: bolder;
    font-size: 18px;
}
#modal-content .infos .infos-esquerda .descricao{
    padding: 15px 10px 10px 0;
    width: fit-content;
}

#modal-content .infos .infos-direita {
    float: left;
    width: 40%;
    margin-top: 30px;
    font-size: 14px;
}

.infos-direita .conteudo{
    padding-bottom: 15px;
}

.titulo-direita{
    color: grey;
}

#modal-content .vignette-layer {
    background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0, rgba(20, 20, 20, .15) 5%, rgba(20, 20, 20, .35) 10%, rgba(20, 20, 20, .58) 24%, #141414 48%, #141414 100%);
    bottom: -30px;
    height: 150px;
    border-radius: 5px;
}

.botoes-info{
    padding: 15px;
}

.botoes-info .botao{
    background-color: white;
    color: black;
}

.botoes-info .botao:hover {
    background-color: grey;
    color: white;
}

.botao-fechar{
    background-color: transparent;
    border: none;
    color: white;

    padding: 10px;

    cursor: pointer;
    transition: .3s ease all;
}

.conteudo-modal{
    display: flex;
}

.botao-fechar-modal{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    margin: 1em;
}
