@media screen and (max-width:750px){
    header .container{
    display: flex;
    flex-direction: column;
    }

    header .container .second-nav{
        display: none;
    }

    .botao{
        margin-top: 5px;
        width: 300px;
    }

    .titulo, .vignette-layer{
        display: none;
    }

}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}